{% extends 'base.html.twig' %}

{% block title %}Recherche de références musicales By Fruitify{% endblock %}

{% block body %}
<style>
    .container { margin: 1em auto; width: 95%;}
</style>

<div class="container">
    <section class="d-flex flex-row justify-content-between">
        <article class="w-50 p-4">
            <h3> Mes artistes </h3>
            <ul class="list-group">
                {% for result in resultsArtistes %}
                    <li id="{{ result.id }}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent border border-0">
                        <span class="name">{{ result.name }}</span>
                        <button onclick="ajouter('{{ result.id}}', 'artist', '', '',);" class="btn btn-info"><i class="fa-solid fa-trash"></i></button>
                    </li>
                {% endfor %}
            </ul>
        </article>
        <article class="w-50 border-start p-4">
            <h3> Mes albums </h3>
            <ul class="list-group">
                {% for result in resultsAlbums %}
                    <li id="{{ result.id }}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent border-0">
                        <span class="name">{{ result.title }}</span>
                        <button onclick="ajouter('{{ result.id}}', 'master', '', '',);" class="btn btn-info"><i class="fa-solid fa-trash"></i></button>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </section>
</div>
{% endblock %}
