{% extends 'base.html.twig' %}

{% block title %}Recherche de références musicales By Fruitify{% endblock %}

{% block body %}
<style>
    .container { display: flex; flex-direction: row; justify-content: space-evenly;}

    li { width: 25% }

    @media screen and (max-width: 990px) {
        .container { flex-direction: column }

        li { width: 200px }
    }
</style>

<div class="container">
    <section>
        <h1 style="display: flex; justify-content: space-between"> Rechercher </h1>
        <article class="w-100">
            {{ form_start(fruitForm) }}
            {{ form_row(fruitForm.fruit) }}
            {{ form_row(fruitForm.type) }}
            {{ form_row(fruitForm.genre) }}
            {{ form_row(fruitForm.format) }}
            {{ form_row(fruitForm.artiste) }}
            {{ form_row(fruitForm.year) }}
            <button class="btn btn-info" type="submit">Valider</button>
            {{ form_end(fruitForm) }}
        </article>
    </section>
    <section>
        <ul class="d-flex flex-row justify-content-center flex-wrap">
            {% for result in results %}
                <li id="{{ result.id }}" class="p-2 d-flex flex-column">
                    <button class="btn btn-info m-1" style="max-width: 50px" onclick="ajouter('{{ result.id}}', '{{ result.type }}', '{{ fruit }}', '{{ result.formats }}',);"><i class="fa-solid fa-plus"></i></button>
                    {% if result.coverImage == "" and result.type == "master" %}
                        <img style="width: 150px; height: 150px; object-fit: cover" src="{{ asset('img/disque.png') }}">
                    {% elseif result.coverImage == "" and result.type == "artist" %}
                        <img style="width: 150px; height: 150px; object-fit: cover" src="{{ asset('img/tete.jpg') }}">
                    {% else %}
                        <img style="width: 150px; height: 150px; object-fit: cover" src="{{ result.coverImage }}">
                    {% endif %}
                    <span class="name">{{ result.title }} {% if result.year %} - {{ result.year }} {% endif %}</span>
                    {% if  result.genres|length > 0 %}
                        {% for genre in result.genres %}
                            <span class="genre text-info">{{ genre }}</span>
                        {% endfor %}
                        <br/>
                    {% endif %}
                    {% if result.formatsArray|length > 0 %}
                        {% for format in result.formatsArray %}
                            <span class="format text-info-emphasis">{{ format }}</span>
                        {% endfor %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <div id="pagination">
                {% if page - 1 >= 1 %}
                    <button class="btn btn-info m-1" onclick="chargerPageSuivante('precedent', {{ page - 1}} , {{ pages }}, '{{ fruit }}')">Page précédente</button> <!--ajouter -->
                {% endif %}
                {% if page + 1 <= pages %}
                    <button class="btn btn-info m-1" onclick="chargerPageSuivante('suivant', {{ page + 1}} , {{ pages }}, '{{ fruit }}')">Page suivante</button> <!--ajouter -->
                {% endif %}
            <div id="etatPagination"> {{ page }} / {{ pages }} </div>
        </div>
    </section>
</div>
{% endblock %}
